* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  background-color: #ddd;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}

.container {
  width: 1200px;
  background-color: #fff;
  padding: 10px 30px;
}

.introBlock {

}

.contectMe li {
  display: inline-block;
}