@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.primary {
  color: #186A3B;
}

.wrap {
  background-color: #ddd;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
  padding-top: 30px;
  padding: 30px 0;
}

.container {
  width: 1200px;
  background-color: #fff;
  padding: 10px 30px;
}

.introBlock {
  padding-bottom: 20px;
}

.introBlock h2 {
  font-size: 20px;
}

.introBlock h2,
.introBlock p,
.introBlock .location,
.introBlock .contectMe {
  padding: 10px 0px;
}

.introBlock .contectMe a {
  text-decoration: none;
}

.introBlock .contectMe li +  li {
  padding: 0 10px;
}

.workExperienceBlock {
  padding-bottom: 20px;
}

.workExperienceBlock h3 {
  font-size: 22px;
}

.workExperienceItem h4 span::before {
  content: "‧";
}

.experienceList ul {
  padding-left: 30px;
}
.experienceList li {
  list-style: disc;
}

.workExperienceItem .seniority {
  color: #aaa;
}

.workExperienceBlock h3,
.workExperienceItem h4,
.workExperienceItem .experienceList,
.workExperienceItem .seniority {
  padding: 10px 0px;
}

.skillLanguageBlock {
  padding-bottom: 20px;
}

.row {
  display: flex;
}

.skillsItem,
.languageItem {
  width: 50%;
}

.row div:first-child {
  padding-right: 5px;
}

.row div:not(:first-child) {
  padding-left: 5px;
}

.underLine {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.skillsItem ul,
.languageItem ul {
  padding-top: 20px;
  padding-left: 30px;
}

.skillsItem li,
.languageItem li {
  list-style: disc;
}

.contectMe li {
  display: inline-block;
}

.educationBlock {
  padding-bottom: 20px;
}

.educationBlock h3,
.educationBlock .row {
  padding: 10px 0px;
}

.educationItem {
  width: 50%;
  display: flex;
}

.educationItem .educationLogo {
  width: 20%;

}

.educationLogo img {
  width: 60%;
}

.educationContent ul li {
  padding: 4px 0;
}

.educationContent ul :nth-child(1) {
  font-size: 16px;
  color: #aaa;
}
.educationContent ul :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}
.educationContent ul :nth-child(3) {
  font-weight: 600;
  color: #186A3B;
}

.educationItem .educationContent {
  width: auto;
}
