* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.primary {
  color: #186A3B;
}

.wrap {
  background-color: #ddd;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}

.container {
  width: 1200px;
  background-color: #fff;
  padding: 10px 30px;
}

.introBlock {

}

.introBlock h2 {
  font-size: 20px;
}

.introBlock h2,
.introBlock p,
.introBlock .location,
.introBlock .contectMe {
  padding: 10px 0px;
}

.introBlock .contectMe a {
  text-decoration: none;
}

.introBlock .contectMe li +  li {
  padding: 0 10px;
}




.contectMe li {
  display: inline-block;
}